.envelope{
  transform: translateY(100%) rotateX(0deg);
  animation: envelope-animation 2s ease-in-out 1s forwards, rolldown-animation 2s ease-in-out 3s;
  animation-fill-mode: forwards;
  transform-origin: top;
}

@keyframes envelope-animation{
  0%{
    transform:translateY(100%) rotateX(0deg);
  }
  100%{
    transform:translateY(100%) rotateX(180deg);
    z-index: 10;
  }
}

.rolldown{
  animation: rolldown-animation 2s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

@keyframes rolldown-animation{
  0%{
    top: 0;
  }
  99%{
    top: 100vh;
  }
  100%{
    display: none;
  }
}